/* @import "tailwindcss"; */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    width: calc(100vw - 60px);
    background-color: #666;
    opacity: 1;
    animation: fadeIn .25s forwards;
}

.container {
    padding: 20px;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: #f0f0f0 !important;
    opacity: 0;
    animation: fadeIn .25s forwards;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gameDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.gameDetails,
.header,
.question,
.scoreContainer,
.startContainer {
    margin-bottom: 20px;
}

.startContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cheatModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cheatMode:hover,
.cheatModeLabel:hover {
    cursor: pointer;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

.button:hover {
    background-color: #0056b3;
}

.header {
    font-size: 24px;
    font-weight: bold;
}

.question {
    font-size: 18px;
    font-weight: normal;
}

.scoreContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.win,
.high {
    flex: 0;
    text-align: left;
}

.scoreKey {
    margin-right: 10px;
}

.scoreValue {
    font-weight: bold;
}

.wins .scoreValue {
    color: green;
}

.high .scoreValue {
    color: blue;
}

.lostContainer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.lostText {
    color: red;
}